/* http://colrd.com/palette/23399/?download=css */

:root {
    --text-color: white;
    --background-color: #2c292d;
    --font: Helvetica, Arial, monospace;
}

h1 {
  color: #ff6188;
}
 
h2 {
  color: #ab9df2;
}

h3 {
    color: #fc9867
}

a {
    color: #78dce8;
    background-color: #2c292d;
    text-decoration: none;
}

a:visited {
    background-color: #2c292d;
    color: #a9dc76;
    text-decoration: none;
}

/*
a:hover {
    color: #ffd866;
}
*/
